node_modules
__pycache__/
*.pyc
instance
.env
venv/
.env.local
.DS_Store
*.sqlite3
*.log
coverage
_node_modules_/
dist/
build/
*.egg-info
backend/venv/
backend/__pycache__/
backend/*.pyc
Frontend/node_modules/
Frontend/.next/
Frontend/dist/
.DS_Store
Thumbs.db
Frontend/auth/.next/
Frontend/node_modules/
Frontend/.next/
Frontend/dist/
