node_modules
__pycache__/
*.pyc
instance
.env
venv/
.env.local
.DS_Store
*.sqlite3
*.log
coverage
_node_modules_/
dist/
build/
*.egg-info
backend/venv/
backend/__pycache__/
backend/*.pyc
frontend/node_modules/
frontend/.next/
frontend/dist/
.DS_Store
Thumbs.db
